.moviesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 8px;
  padding: 40px;
  justify-content: center;
  @media (max-width: 560px){
    grid-template-columns: 100%;
  }
}