.dContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px auto;
  max-width: 940px;
  padding: 0 10px;
  .col {
    margin: 0 10px;
    img {
      max-width: 100%;
      border-radius: 10px;
      background-color: #999;
      animation: mymove .5s infinite;
    }
    &.col_12 {
      max-width: 500px;
    }
    &.col_img {
      img {
        min-width: 320px;
      }
    }
    &.details {
      flex: 1;
      min-width: 320px;
      border-radius: 10px;
      padding: 20px;
      background: rgba(#000000, 0.5);
      h2 {
        margin: 0 0 10px;
        padding: 0;
      }
      h4 {
        margin: 0;
        padding: 0;
      }
      .generos {
        font-style: italic;
        font-size: 12px;
        span {
          font-style: normal;
        }
      }
      iframe {
        border: none;
      }
      .lastEdit {
        font-size: 11px;
        font-style: italic;
        color: burlywood;
      }
    }
  }
  @media (max-width: 360px){
    .col {
      &.col_img {
        img {
          min-width: 100%;
          height: auto;
        }
      }
    }
  }
  @media (max-width: 560px){
    align-items: center;
    .col {
      &.col_img {
        img {
          height: auto;
        }
      }
    }
  }
  .torrentHolder {
    .torrent {
      display: flex;
      align-items: center;
      padding: 0;
      img {
        margin-right: 10px;
      }
      a:link, a:visited {
        background: green;
        color: cornsilk;
        display: inline-block;
        padding: 10px;
        border-radius: 8px;
      }
    }
  }
}

.editbtn {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  button {
    background: black;
    border: none;
    border-radius: 8px;
    color: blanchedalmond;
    padding: 10px 20px;
    cursor: pointer;
  }
}

@keyframes mymove {
  from {background-color: #999;}
  to {background-color: #666;}
}